fdsafsxdsfasdffadsfs<h1>Jack and Jill went up the hill to get a bucket of water... for Luke Skywalker</h1>
<h2>(Usdsfasdfasdfing Rails 3.2.8 and No Database)</h2>
BAJSSSSSThe bucket they goasdfat was:<br/>
Size: <%=rand(10)%><br/dsfasd>
Weight: <%=rand(1000)%><br/>fa
Full?: <%=rand(1000) > 500%><br/>
<br/>
Who knows how many buckets they have collected? (no database!) Herro sir!!<br/>
666
Vic testing 19/2/2014
